{% extends "layout.html" %}

{% block content %}

    {% for doktori in doktor %}
    <div class="card mx-auto " style="width: 500px;">
            <div class="card-body">
              <h5 class="card-title">dr.{{doktori.ime}} {{doktori.prezime}}</h5>
              <h6 class="card-subtitle mb-2 text-muted float-left">Bolnica: {{doktori.bolnica}}</h6><br>
              <h6 class="card-subtitle mb-2 text-muted float-left">Specijalizacija: {{doktori.specijalizacija}}</h6><br>
              <h6 class="card-subtitle mb-2 text-muted float-left">Prosjek: {{doktori.prosjek}}</h6><br>
            </div>
          </div> 
          <br>
    {% endfor %}
    <h1>Ocjeni doktora</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.ocjena.label }}<br>
            {{ form.ocjena(size=1) }}<br>
            {% for error in form.ocjena.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form> 
{% endblock %}