{% extends "layout.html" %}

{% block content %}

    {% for doktori in doktor %}
        Ime: {{doktori.ime}}
        Prezime: {{doktori.prezime}}
        Bolnica: {{doktori.bolnica}}
        Specijalizacija: {{doktori.specijalizacija}}
        Prosjek: {{doktori.prosjek}} 
    {% endfor %}
    <h1>Ocjeni doktora</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.ocjena.label }}<br>
            {{ form.ocjena(size=1) }}<br>
            {% for error in form.ocjena.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form> 
{% endblock %}