{% extends "layout.html" %}
{% block content %}
        <form action="" method="post" >
                {{ form.hidden_tag() }}
                 <p>
                    {{ form.search.label }}<br>
                    {{ form.search(size=32) }}<br>
                    {% for error in form.search.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
              
        {% for doktori in doktor %}
        <div class=" mx-auto quote-box " style="width: 500px;">
                <div class="card-body">
                  <h5 class="card-title">dr.{{doktori.ime}} {{doktori.prezime}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted float-left">Bolnica: {{doktori.bolnica}}</h6><br>
                  <h6 class="card-subtitle mb-2 text-muted float-left">Specijalizacija: {{doktori.specijalizacija}}</h6><br>
                  <h6 class="card-subtitle mb-2 text-muted float-left">Prosjek: {{doktori.prosjek}}</h6><br>
                  <h6 class="card-subtitle mb-2 text-muted float-left">
                      {% if current_user.is_anonymous %}
                      {% else %}
                        <a href="{{ url_for('doktor', id=doktori.id) }}">Ocijeni</a>
                      {% endif %}
                  </h6>
                </div>
              </div> 
              <br>
        {% endfor %}

        
{% endblock %}